body {
	margin: 0 !important;
	align-items: center;
	justify-content: space-around;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
	text-decoration: none;
}

.cabecalho {
	align-items: center;
	background-color: #5242e2;
	color: white !important;
	display: flex;
	justify-content: space-between;
	padding-left: 4rem;
	padding-right: 4rem;
}

.cabecalho__titulo {
	font-size: 1.5rem;
}

.cabecalho__link {
	font-size: 1.2rem;
	text-decoration: none;
	color: white !important;
	padding: 1rem 1rem 1rem 1rem;
}

.cabecalho__link:hover {
	background-color: #0e0b27;
	padding: 1rem 1rem 1rem 1rem;
	border-radius: 1rem;
}

.corpo {
	align-items: center;
	display: flex;
	justify-content: space-around;
	margin-top: 5%;
}

.conteudo {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 60%;
}

.conteudo_tabelas {
	align-items: center;
	display: flex;
	justify-content: space-around;
	width: 75%;
}

.conteudo__form {
	height: 100%;
	width: 100%;
}

.conteudo__form-label {
	text-transform: uppercase;
}

.conteudo__form-input {
	font-size: 1.1rem;
	width: 90%;
	margin: 1rem 0rem 1rem 0rem;
	padding: 0.4rem;
}

.conteudo__form-filtro {
	font-size: 1.1rem;
	margin: 1rem 0rem 1rem 0rem;
	padding: 0.4rem;
}

.subtitulo {
	font-size: 1.2rem;
	margin: 0;
	width: 100%;
}

.botao-primario {
	font-size: 1rem;
	font-weight: bold;
	background-color: #0e0b27;
	padding: 1rem;
	color: white;
	border-radius: 1rem;
	border-style: none;
}

.botao-primario:hover {
	cursor: pointer;
	background-color: #5242e2;
}

tr {
	height: 3.2rem;
}

th {
	padding: 0rem 1rem;
	border: 2px solid #312d50;
}

td {
	text-align: center;
}